###
### Main .gitignore file
###

# Generic restrictions
#

# Project files
*.user
*.sln
*.xcodeproj
.vs*
.idea

# MSVS files
*.suo
*.opensdf
*.sdf

# Compile-time files
*.obj
*.pdb

# Apple-specific files
.DS_Store
._.DS_Store

# Archive files
#

# Unreal Engine archive files
*.pak

# Packing-only archive files
*.iso
*.tar

# Package management archive files
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
*.txz

# Other restrictions
#

# JSON folder
JSON/**

# Derived data cache
DerivedDataCache/**

# Intermediates
Intermediate/**
Plugins/**/Intermediate/**

# Binaries
Binaries/**
Plugins/**/Binaries/**

# Saved files
Saved/**

# Builds
Build/*

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build
!Build/**/*.ico

# Built data for maps
*_BuiltData.uasset

# Ignore server build
/ThirdParty/MWNetwork/Build
